.case-study-content {
    margin-top: 4em;
    margin-bottom: 4em;
}

.case-study-content p {
    font-size: 1.125em;
}

.case-study-content h2:not(:first-of-type) {
    margin-top: 2em
}

.roles {
    float: none;
    margin-top: 0;
    margin-bottom: 4em;
    width: 11vw;
}

.roles h2 {
    float: left;
    font-size: 1em;
    margin-right: 1.25em;
}

.roles ul {
    list-style-type: none;
    padding: 0;
    font-size: 1em;
    color: var(--text-secondary);
}

.roles ul li {
    margin-right: 1.25em;
    display: inline-block;
}

/* Components  */

.text-block {
    max-width: 100%;
    margin: auto;
}

.image-columns {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 4em;
    margin-bottom: 2em;
}

.image-columns .column {
    width: 100%;
    flex: 0 1 auto;
    text-align: center;
    margin: 0 .25em;
}

.image-columns .column:first-child {
    margin-left: 0;
}
.image-columns .column:last-child {
    margin-right: 0;
}

.image-columns figure {
    margin: 0;
}

.image-columns img {
    width: 100%;
    flex: 0 1 auto;
}

.image-columns figcaption {
    color: var(--text-secondary);
    margin-top: 1em;
    font-size: .85em;
}

@media all and (min-width: 1080px) {
    .case-study-content {
        margin-top: 8em;
        margin-bottom: 8em;
    }

    .roles h2 {
        float: none;
        margin-right: 0;
    }

    .roles {
        float: left;
        margin-top: .7em;
        margin-bottom: 0;
    }

    .roles ul li {
        margin-bottom: .75em;
        display: block;
    }

    .text-block {
        max-width: 620px;
    }

    .image-columns .column {
        margin: 0 .5em;
    }
}

