.brand {
    font-size: 1.75em;
    font-variation-settings: 'wght' 600;
    font-weight: 600;
    letter-spacing: -.28px;
}

.brand a {
    text-decoration: none;
    color: var(--text-primary);
}

.light .brand,
.light .brand a {
    color: #fff;
}

header {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 99;
}

header.light nav a.link-primary {
    font-variation-settings: "wght" 475;
    font-weight: 475;
}

header .container {
    display: flex;
    align-items: center;
    height: 72px;
}

header .brand,
header nav {
    width: 50%;
}

header nav {
    display: inline-flex;
    justify-content: flex-end;
}

header nav a.link-primary:hover {
    background-color: var(--bg-faded)
}
header nav a.link-primary {
    text-decoration: none;
    transition: .3s all ease;
    margin-left: .5em;
    color: var(--text-primary);
    padding: .75em .75em;
}

header.light:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: -100%;
    bottom: 0;
    background-color: #fff;
    z-index: -1;
    transition: .3s top ease;
}

header.light:hover:before {
    top: 0;
}

header.light:hover .brand a,
header.light:hover nav a.link-primary {
    color: var(--text-primary);
    transition: .3s all .1s ease;
}

header.light:hover nav a.link-primary {
    font-variation-settings: "wght" 400;
    font-weight: 400;
}

header.light:hover nav a.link-primary:hover {
    background-color: var(--bg-faded);
}