.hero {
    padding-top: calc(72px + 2.5em);
}  

.hero .hero-content {
    padding: .3em 0;
}

.teaser {
    margin: 0;
    margin-bottom: .5em;
}

.headline {
    margin: 0;
    margin-bottom: .6em;
}

.description, 
.description p {
    color: var(--text-body);
    margin-bottom: 0.5em;
}

.light .headline {
    color: #fff;
}
.light .teaser, 
.light .description,
.light .description p {
    color:hsla(0,0%,100%,.9);
}

.light a.link-primary {
    color: #fff;
}

.light a.link-primary {
    font-variation-settings: "wght" 475;
    font-weight: 475;
}

.light a.link-primary:hover {
    background-color: rgba(255,255,255,.2)
}


/* Home */

.home .hero {
    margin-bottom: 4em;
}

.hero.offset {
    padding-bottom: 8em;
}
/* Case Study */

.hero.case-study {
    display: flex;
    position: relative;
    padding: 0;
    height: 75vh;
    margin-bottom: 72px;
}

.hero.case-study .hero-background {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.hero.case-study .hero-background .hero-overlay {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.hero.case-study .hero-background .hero-background-image {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-size: cover;
    background-position: right center;
    background-repeat: no-repeat;
    filter: saturate(80%);
}

.hero.case-study .container {
    z-index: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.hero.case-study .hero-content {
    padding-top: 72px;
    width: 70%;
}

.hero.case-study .hero-foreground {
    position: absolute;
    width: 40%;
    left: 60%;
    height: 75vh;
    top: 72px;
}

.hero.case-study .hero-foreground img {
    display: block;
    height:100%;
    width:100%; 
    object-fit: contain;
    object-position: 4em 18%;
}

@media all and (min-width: 1080px) {
    .hero.case-study .hero-content {
        width: 50%;
    }
}

/* Image Offset */

.image-offset {
    height: 400px;
    position: relative;
    background-color: grey;
    background-size: cover;
    background-position: left center;
    background-repeat: no-repeat;
    margin-left: 1em;
    z-index: 2;
}

.image-offset.offset {
    top: -8em;
}

.hero-offset .container {
    margin-bottom: 4em;
}

@media all and (min-width: 960px) {
    .image-offset {
        left: calc((100vw - 960px) / 2 - .5em);
        margin-right: calc((100vw - 960px) / 2 - .5em);
        margin-left: 8.3333vw;
        height: 70vh;
        width: auto;
    }

    .image-offset .scroll-indicator {
        display: block;
        width: 1px;
        height: 8em;
        position: relative;
        left: -8.3333vw;
        overflow: hidden;
    }

    .image-offset .scroll-indicator:before {
        content: "";
        display: block;
        width: 100%;
        background-color: var(--line-color);
        height: 75%;
        position: absolute;
        top: 0;
        animation: scrollIndicator 1.5s ease-in-out infinite;
    }

}

@keyframes scrollIndicator {
    0% {
        top: 0;
        height: 0;
        bottom: 0
    }
    50% {
        height: 100%;
        bottom: 0;
        top: 0;
    }
    100% {
        height: 0;
        bottom: 0;
        top: 100%;
    }
}